{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>What's the Weather?</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

</head>


<body>

    <div class="site-content">
        <div class="site-header">
            <div class="container">
                <a href="index.html" class="branding">
						<img src="{% static 'images/logo.png' %}" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Weather App</h1>
							<small class="site-description">Weather rain or shine!</small>
						</div>
					</a>

                <!-- Default snippet for navigation -->
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
                        <li class="menu-item"><a href="news">News</a></li>
                        <li class="menu-item"><a href="live-cameras">Live cameras</a></li>
                        <li class="menu-item"><a href="photos">Photos</a></li>
                        <li class="menu-item"><a href="contact">Contact</a></li>
                    </ul>
                    <!-- .menu -->
                </div>
                <!-- .main-navigation -->

                <div class="mobile-navigation"></div>

            </div>
        </div>
        <!-- .site-header -->

        <div class="hero" data-bg-image="{% static 'images/Bangkok_Night.jpg' %}">
            <div class="container">
                <form method="POST" class="find-location">
                    {% csrf_token %} {{ form.zipcode }}
                    <input type="submit" value="Find">
                </form>

            </div>
        </div>
        <div class="forecast-table">
            <div class="container">
                <div class="forecast-container">
                    <div class="today forecast">
                        <div class="forecast-header">
                            <div class="day">{{ date_time.day0|date:'l' }}</div>
                            <div class="date">{{ date_time.time|date:'F j' }}</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="location">{{ city.city_name }}</div>
                            <div class="degree">
                                <div class="num">{{ city.temp_max0 }}<sup>o</sup>F</div>
                                <div class="forecast-icon">
                                    <img src="{% static 'images/icons/' %}{{ city.icon0}}.svg" alt="" width=90>
                                </div>
                            </div>
                            <span><img src="{% static 'images/icon-umberella.png' %}" alt="">20%</span>
                            <span><img src="{% static 'images/icon-wind.png' %}" alt="">{{ city.wind_speed }} MPH</span>
                            <span><img src="{% static 'images/icon-compass.png' %}" alt="">{{ city.wind_direction }}</span>
                        </div>
                    </div>

                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">{{ date_time.day1|date:'l' }}</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="{% static 'images/icons/' %}{{ city.icon1}}.svg" alt="" width=48>
                            </div>
                            <div class="degree">{{ city.temp_max1 }}<sup>o</sup>F</div>
                            <small>{{ city.temp_min1 }}<sup>o</sup></small>
                        </div>
                    </div>

                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">{{ date_time.day2|date:'l' }}</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="{% static 'images/icons/' %}{{ city.icon2}}.svg" alt="" width=48>
                            </div>
                            <div class="degree">{{ city.temp_max2 }}<sup>o</sup>F</div>
                            <small>{{ city.temp_min2 }}<sup>o</sup></small>
                        </div>
                    </div>

                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">{{ date_time.day3|date:'l' }}</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="{% static 'images/icons/' %}{{ city.icon3}}.svg" alt="" width=48>
                            </div>
                            <div class="degree">{{ city.temp_max3 }}<sup>o</sup>F</div>
                            <small>{{ city.temp_min3 }}<sup>o</sup></small>
                        </div>
                    </div>

                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">{{ date_time.day4|date:'l' }}</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="{% static 'images/icons/' %}{{ city.icon4}}.svg" alt="" width=48>
                            </div>
                            <div class="degree">{{ city.temp_max4 }}<sup>o</sup>F</div>
                            <small>{{ city.temp_min4 }}<sup>o</sup></small>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="fullwidth-block" data-bg-color="#262936">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="news">
                            <div class="date">{{ date_time.time|date:'F j' }}</div>
                            <h3><a href="{{ news.news_url0 }}">{{ news.headline0 }} </a></h3>
                            <p>{{ news.description0 }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="news">
                            <div class="date">{{ date_time.time|date:'F j' }}</div>
                            <h3><a href="{{ news.news_url1 }}">{{ news.headline1 }}</a></h3>
                            <p>{{ news.description1 }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="news">
                            <div class="date">{{ date_time.time|date:'F j' }}</div>
                            <h3><a href="{{ news.news_url2 }}">{{ news.headline2 }}</a></h3>
                            <p>{{ news.description2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <p class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p>
    </div>
    </footer>
    <!-- .site-footer -->
    </div>

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>
